n8n-integration/job-extractor-v1.json
{
    "name": "Intelligent Job Extractor (PlacementBridge)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "extract-jobs",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "promptType": "define",
                "text": "=Extract all job listings from the following content. Return only a valid JSON array of objects with fields: title, company, description, deadline, region.\n\nContent:\n{{ $node[\"Webhook\"].json[\"body\"] }}",
                "options": {
                    "systemMessage": "You are an expert recruitment assistant. Extract structured job data from text precisely."
                }
            },
            "id": "ai-extractor",
            "name": "OpenAI Chat Model",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "operation": "insert",
                "table": "listings",
                "columns": "title, company_name, description, application_deadline, region",
                "options": {}
            },
            "id": "supabase-insert",
            "name": "Supabase",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "OpenAI Chat Model",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "main": [
                [
                    {
                        "node": "Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}