n8n/workflows/job-ingest.json
{
  "name": "CareerCompass Job Ingestion",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.example.com/jobs",
        "options": {
          "timeout": 30000
        }
      },
      "id": "fetch-jobs",
      "name": "Fetch External Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [300, 300],
      "notes": "Replace with your job API endpoint"
    },
    {
      "parameters": {
        "jsCode": "// Transform and normalize job data\nconst jobs = $input.all();\nconst normalized = [];\n\nfor (const item of jobs) {\n  const job = item.json;\n  \n  // Skip if missing required fields\n  if (!job.title || !job.company) continue;\n  \n  normalized.push({\n    json: {\n      position_title: job.title || job.position,\n      company_name: job.company || job.employer,\n      description: job.description || job.summary || '',\n      region: job.location || job.region || 'Remote',\n      industry: job.industry || job.category || 'General',\n      stipend: job.salary || job.stipend || 'Not specified',\n      available_slots: job.openings || 1,\n      deadline: job.deadline || job.expires_at || null,\n      application_link: job.apply_url || job.link || null,\n      source_url: job.url || null,\n      source_name: 'External API',\n      approved: false, // Require verification\n      flagged: false\n    }\n  });\n}\n\nreturn normalized;"
      },
      "id": "normalize",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Dedupe by checking if job already exists\nconst jobs = $input.all();\nconst unique = [];\nconst seen = new Set();\n\nfor (const item of jobs) {\n  const job = item.json;\n  // Create a key from title + company\n  const key = `${job.position_title.toLowerCase().trim()}|${job.company_name.toLowerCase().trim()}`;\n  \n  if (!seen.has(key)) {\n    seen.add(key);\n    unique.push(item);\n  }\n}\n\nreturn unique;"
      },
      "id": "dedupe",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "// Basic verification checks\nconst jobs = $input.all();\nconst verified = [];\n\nfor (const item of jobs) {\n  const job = item.json;\n  let score = 0;\n  const signals = [];\n  \n  // Check application link\n  if (job.application_link) {\n    try {\n      const url = new URL(job.application_link);\n      if (url.protocol === 'https:') {\n        score += 25;\n        signals.push('Secure application link');\n      }\n      // Known trusted domains\n      const trusted = ['linkedin.com', 'indeed.com', 'brightermonday.co.ug'];\n      if (trusted.some(d => url.hostname.endsWith(d))) {\n        score += 30;\n        signals.push('Trusted job platform');\n      }\n    } catch (e) {\n      signals.push('Invalid application URL');\n    }\n  }\n  \n  // Description quality\n  if (job.description && job.description.length > 100) {\n    score += 20;\n    signals.push('Detailed description');\n  }\n  \n  // Company name quality\n  if (job.company_name && job.company_name.length > 2) {\n    score += 15;\n    signals.push('Valid company name');\n  }\n  \n  // Base score\n  score += 10;\n  \n  verified.push({\n    json: {\n      ...job,\n      verification_score: score,\n      verification_signals: signals,\n      approved: score >= 50,\n      flagged: score < 30\n    }\n  });\n}\n\nreturn verified;"
      },
      "id": "verify",
      "name": "Verify Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/placements",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "position_title",
              "value": "={{ $json.position_title }}"
            },
            {
              "name": "company_name",
              "value": "={{ $json.company_name }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "region",
              "value": "={{ $json.region }}"
            },
            {
              "name": "industry",
              "value": "={{ $json.industry }}"
            },
            {
              "name": "stipend",
              "value": "={{ $json.stipend }}"
            },
            {
              "name": "available_slots",
              "value": "={{ $json.available_slots }}"
            },
            {
              "name": "deadline",
              "value": "={{ $json.deadline }}"
            },
            {
              "name": "application_link",
              "value": "={{ $json.application_link }}"
            },
            {
              "name": "approved",
              "value": "={{ $json.approved }}"
            },
            {
              "name": "flagged",
              "value": "={{ $json.flagged }}"
            }
          ]
        },
        "options": {}
      },
      "id": "upsert",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.approved }}",
              "value2": true
            }
          ]
        }
      },
      "id": "filter-approved",
      "name": "Filter Approved",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/functions/v1/notify-matches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ placement_id: $json.id }) }}"
      },
      "id": "trigger-notifications",
      "name": "Trigger Match Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 200],
      "notes": "Notify users with matching alerts"
    },
    {
      "parameters": {},
      "id": "end",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1700, 300]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch External Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch External Jobs": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate": {
      "main": [
        [
          {
            "node": "Verify Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Sources": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Supabase": {
      "main": [
        [
          {
            "node": "Filter Approved",
            "type": "main",
            "index": 0
          },
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Approved": {
      "main": [
        [
          {
            "node": "Trigger Match Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Match Notifications": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["automation", "jobs", "ingestion"],
  "triggerCount": 1,
  "updatedAt": "2026-01-31T00:00:00.000Z",
  "versionId": "1"
}
